.sign_in_container{
    width: 100%;
    height: 100%;
}

.sign_in_container{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;    
}

.sign_in_container_title{
    border: 1px solid gray;
    width: 10%;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 3vmax;
}

.sign_in_box{
    position: absolute;
    top: 15%;
    right: 15%;
    border: 3px solid gray;
    width: 35%;
    height: 70%;
}

.sign_in_box_id,
.sign_in_box_password{
    /* border: 1px solid red; */
    margin-top: 3%;
    width: 100%;
    height: 13%;
    text-align: center;
}

.sign_in_box_input_id,
.sign_in_box_input_password{
    width: 90%;
    height: 80%;   
    padding-left: 3%;
    font-size: 1.1vmax;
}

.sign_in_box_id_error_message,
.sign_in_box_password_error_message{
    font-size: 1.1vmax;
    margin-left: 5%;
    /* color: #d12929; */
}
.sign_in_box_sign_in_error_message{
    font-size: 1.1vmax;
    margin-top: 3%;
    margin-left: 25%;
}


.sign_in_box_sign_in_btn_div{
    /* border: 1px solid red; */
    margin-top: 3%;
    width: 100%;
    height: 15%;
    text-align: center;
    
}

.sign_in_box_sign_in_btn{
    width: 90%;
    height: 80%;
    font-size: 1.2vmax;
}

.sign_in_box_forget{
    /* border: 1px solid red; */
    text-align: center;
    font-size: 1.3vmax
}

.sign_in_box_forget_id{
    /* border: 1px solid red; */
    display: inline;
    margin: 2%;
    /* font-size: 1.3vmax */
}

.sign_in_box_forget_password{
    /* border: 1px solid red; */
    display: inline;
    margin: 2%;
    /* font-size: 1.3vmax */
}

.sign_in_box_hr{
    border: 1px solid lightgray;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.sign_in_box_create_btn_div{
    /* border: 1px solid red; */
    margin-top: 7%;
    margin-left: 25%;
    width: 60%;
    height: 15%;
    /* text-align: center; */
}


.sign_in_box_create_btn{
    width: 90%;
    height: 80%;
    font-size: 1.2vmax
}
