.signup {
  position: absolute;
  left: 39%;
}

.signupbox {
  position: absolute;
  border: 2.5px black solid;
  width: 100%;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 2%;
  /* background-color: cornflowerblue; */
  background: linear-gradient(to bottom, #3459a3, #3380a3);
}

.signupfont {
  font-size: 20px;
}

.signupbtn {
  width: 100px;
  height: 30px;
}

.signupfont_0 {
  font-size: 20px;
  color: black;
  border: 0.5px black solid;
  background-color: white;
  text-decoration: none;
}

.inputbox {
  width: 200px;
  height: 30px;
}
